header{
    position: fixed;
    top: 0;
    width: 1280px;
    padding: 50px 20px;

    & .logo{
        display: flex;
        gap: 8px;
        align-items: center;

        &>img{
            width: 2.12rem;
            height: 2.12rem;
        }
        
        &>h1{
            font-size: 1.5rem;
        }

    }
}