header{
    position: fixed;
    top: 0;
    max-width: 1280px;
    padding: 3.12rem 1.25rem;

    & .logo{
        display: flex;
        gap: 8px;
        align-items: center;

        &>img{
            width: 2.12rem;
            height: 2.12rem;
        }
        
        &>h1{
            font-size: 1.5rem;
        }

    }
}

@media(max-width: 1000px){
    header{
        position: relative;
    }
}

@media(max-height: 650px){
    header{
        position: relative;
    }
}